/* ========================================================
 *    Light button 
 * ===================================================== */
.persona-button{
  background: #297dc3;
  background: -moz-linear-gradient(top, #43a6e2, #287cc2);
  background: -ms-linear-gradient(top, #43a6e2, #287cc2);
  background: -o-linear-gradient(top, #43a6e2, #287cc2);
  background: -webkit-linear-gradient(top, #43a6e2, #287cc2);
  background: linear-gradient(top, #43a6e2, #287cc2);
}
.persona-button:hover{
  background: #21669f;
  background: -moz-linear-gradient(top, #3788b9, #21669f);
  background: -ms-linear-gradient(top, #3788b9, #21669f);
  background: -o-linear-gradient(top, #3788b9, #21669f);
  background: -webkit-linear-gradient(top, #3788b9, #21669f);
  background: linear-gradient(top, #3788b9, #21669f);
}
.persona-button span:before{ /* Icon BG */
  background: #42a9dd;
  background: -moz-linear-gradient(top, #50b8e8, #3095ce);
  background: -ms-linear-gradient(top, #50b8e8, #3095ce);
  background: -o-linear-gradient(top, #50b8e8, #3095ce);
  background: -webkit-linear-gradient(top, #50b8e8, #3095ce);
  background: linear-gradient(top, #50b8e8, #3095ce);
}
.persona-button:before{ /* Triangle */
  background: #42a9dd;
  background: -moz-linear-gradient(-45deg, #50b8e8, #3095ce);
  background: -ms-linear-gradient(-45deg, #50b8e8, #3095ce);
  background: -o-linear-gradient(-45deg, #50b8e8, #3095ce);
  background: -webkit-linear-gradient(-45deg, #50b8e8, #3095ce);
  background: linear-gradient(-45deg, #3095ce, #50b8e8); /* flipped for updated spec */
}