/* ========================================================
 *    Dark button 
 * ===================================================== */
 
@persona-bg: #3c3c3c;
@persona-bg-start: #606060;
@persona-bg-end: @persona-bg;

@persona-bg-hover: #2d2d2d;
@persona-bg-hover-start: #484848;
@persona-bg-hover-end: @persona-bg-hover;

@persona-bg-before: #d34f2d;
@persona-bg-before-start: #ebac45;
@persona-bg-before-end: @persona-bg-before;

@persona-bg-span-before: @persona-bg-before;
@persona-bg-span-before-start: @persona-bg-before-start;
@persona-bg-span-before-end: @persona-bg-span-before;
 
.persona-button.dark{
	.gradient(@persona-bg, @persona-bg-start, @persona-bg-end);
}
.persona-button.dark:hover{
	.gradient(@persona-bg-hover, @persona-bg-hover-start, @persona-bg-hover-end);
}
.persona-button.dark span:before{ /* Icon BG */
	.gradient(@persona-bg-span-before, @persona-bg-span-before-start, @persona-bg-span-before-end);
}
.persona-button.dark:before{ /* Triangle */
	.gradient(@persona-bg-before, @persona-bg-before-start, @persona-bg-before-end, -45deg);
}